<div class="statblock__container">
    <div class="statblock__inner">
        <div class="statblock__left">
            <div class="creature__header">
                <h1>
                    {{ variables.name }}
                </h1>
                <p class="statblock__subtitle">
                    {{ variables.creature_type }}, {{ variables.alignment }}
                </p>
                <div class="statblock__separator"></div>
            </div>
            <div class="creature__stats">
                {% if (variables.armor_class_ac|length) > 0 %}
                    <div class="statblock__line">
                        <span class="bold">Armor Class</span>
                        <span>{{ variables.armor_class_ac }}</span>
                    </div>
                {% endif %}
                {% if (variables.hit_points_hp|length) > 0 %}
                    <div class="statblock__line">
                        <span class="bold">Hit Points</span>
                        <span>{{ variables.hit_points_hp }}</span>
                    </div>
                {% endif %}
                {% if (variables.speed|length) > 0 %}
                    <div class="statblock__line">
                        <span class="bold">Speed</span>
                        <span>{{ variables.speed }}</span>
                    </div>
                {% endif %}
                <div class="statblock__separator"></div>
            </div>
            <div class="creature__skills">
                <div class="creature__skill">
                    <p class="creature__skill-name">
                        STR
                    </p>
                    <p class="creature__skill-value">
                        {{ variables.str }}
                    </p>
                </div>
                <div class="creature__skill">
                    <p class="creature__skill-name">
                        DEX
                    </p>
                    <p class="creature__skill-value">
                        {{ variables.dex }}
                    </p>
                </div>
                <div class="creature__skill">
                    <p class="creature__skill-name">
                        CON
                    </p>
                    <p class="creature__skill-value">
                        {{ variables.con }}
                    </p>
                </div>
                <div class="creature__skill">
                    <p class="creature__skill-name">
                        INT
                    </p>
                    <p class="creature__skill-value">
                        {{ variables.int }}
                    </p>
                </div>
                <div class="creature__skill">
                    <p class="creature__skill-name">
                        WIS
                    </p>
                    <p class="creature__skill-value">
                        {{ variables.wis }}
                    </p>
                </div>
                <div class="creature__skill">
                    <p class="creature__skill-name">
                        CHA
                    </p>
                    <p class="creature__skill-value">
                        {{ variables.cha }}
                    </p>
                </div>
            </div>
            <div class="statblock__separator"></div>
            {% if (variables.saving_throws|length) > 0 %}
                <div class="statblock__line">
                    <span class="bold">Saving throws</span>
                    {{ variables.saving_throws }}
                </div>
            {% endif %}
            <div class="creature__meta">
                {% if (variables.skills|length) > 0 %}
                    <div class="statblock__line">
                        <span class="bold">Skills</span>
                        <span>{{ variables.skills }}</span>
                    </div>
                {% endif %}
                {% if (variables.damage_vulnerabilities|length) > 0 %}
                    <div class="statblock__line">
                        <span class="bold">Damage Vulnerabilities</span>
                        <span>{{ variables.damage_vulnerabilities }}</span>
                    </div>
                {% endif %}
                {% if (variables.damage_resistances|length) > 0 %}
                    <div class="statblock__line">
                        <span class="bold">Damage Resistances</span>
                        <span>{{ variables.damage_resistances }}</span>
                    </div>
                {% endif %}
                {% if (variables.damage_immunities|length) > 0 %}
                    <div class="statblock__line">
                        <span class="bold">Damage Immunities</span>
                        <span>{{ variables.damage_immunities }}</span>
                    </div>
                {% endif %}
                {% if (variables.condition_immunities|length) > 0 %}
                    <div class="statblock__line">
                        <span class="bold">Condition Immunities</span>
                        <span>{{ variables.condition_immunities }}</span>
                    </div>
                {% endif %}
                {% if (variables.senses|length) > 0 %}
                    <div class="statblock__line">
                        <span class="bold">Senses</span>
                        <span>{{ variables.senses }}</span>
                    </div>
                {% endif %}
                {% if (variables.languages|length) > 0 %}
                    <div class="statblock__line">
                        <span class="bold">Languages</span>
                        <span>{{ variables.languages }}</span>
                    </div>
                {% endif %}
                {% if (variables.challenge_rating_cr|length) > 0 %}
                    <div class="statblock__line">
                        <span class="bold">Challenge</span>
                        <span>{{ variables.challenge_rating_cr }}</span>
                    </div>
                {% endif %}
            </div>
            <div class="statblock__separator"></div>
            {% if (variables.abilities|length) > 0 %}
                <div class="creature__abilities">
                    {{ variables.abilities }}
                </div>
            {% endif %}
            {% if (variables.bonus_action|length) > 0 %}
                <div class="creature__actions">
                    <h3 class="creature__actions-title">
                        Bonus Action
                    </h3>
                    <div>
                        {{ variables.bonus_action }}
                    </div>
                </div>
            {% endif %}
            {% if (variables.actions|length) > 0 %}
                <div class="creature__actions">
                    <h3 class="creature__actions-title">
                        Actions
                    </h3>
                    <div>
                        {{ variables.actions }}
                    </div>
                </div>
            {% endif %}
            {% if (variables.reactions|length) > 0 %}
                <div class="creature__actions">
                    <h3 class="creature__actions-title">
                        Reactions
                    </h3>
                    <div>
                        {{ variables.reactions }}
                    </div>
                </div>
            {% endif %}
            {% if (variables.legendary_actions|length) > 0 %}
                <div class="creature__actions">
                    <h3 class="creature__actions-title">
                        Legendary Actions
                    </h3>
                    <div>
                        {{ variables.legendary_actions }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
